

body {
    background-image: url(../../../images/bg2.jpg); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
    background-size: 100% 100%;
}

.h1-color{
    font-size: 100px;
    color: #fff;
    border-color: black;

}
.btn-color{
    background-color: #9A3ED5;
}
.block{
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    width: 50%;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
table {
    border-collapse: collapse; /* Убираем двойные линии */
    width: 100%; /* Ширина таблицы */

}